<div class="login-container">
  <div class="login-card">
    <h3 class="text-center mb-4">Login</h3>
  
        <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form"></form> -->
    <form class="login-form">
  
      <!-- Email -->
      <div class="mb-3">
        <label>Email : </label>
        <input
          type="email"
          name="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter your email"
          [(ngModel)]="loginForm.email"
        />
      </div>
  
      <!-- Password -->
      <div class="mb-3">
        <label>Password : </label>
        <input
          type="password"
          name="password"
          class="form-control"
          formControlName="password"
          placeholder="Enter your password"
          [(ngModel)]="loginForm.password"
        />
      </div>
  
      <!-- Submit -->
      <button 
        type="button"
        class="btn btn-primary w-100" 
        (click)="onSubmit()"
      >
        Login
      </button>
  
    </form>
  </div>
</div>
