<h1>Template Driven Forms</h1>

<form #userForm="ngForm" (ngSubmit)="addDetails(userForm.value)">
  <input  #name="ngModel" type="text" required placeholder="Enter Name" name="name" ngModel />
  <span class="error" *ngIf="name.invalid && name.touched">*</span>
  <br /><br />
  <input #password="ngModel" type="password" required minlength="5" maxlength="10" placeholder="Enter Password" name="password" ngModel />
  <br>
  <span class="error" *ngIf="password.invalid && password.touched">Please Enter Valid Password</span>
  <br /><br />
  <select name="gender" ngModel>
    <option value="">Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <br /><br />
  <input type="range" min="0" max="70" name="range" ngModel />
  <br /><br />
  <input #email="ngModel" type="email" required 
  *ngIf placeholder="Enter Email" name="email" ngModel />
  <br /><br />
  <button [disabled]="userForm.invalid">Add User</button>
</form>

<h2>{{ userDetails?.name }}</h2>
<h2>{{ userDetails?.gender }}</h2>
<h2>{{ userDetails?.range }}</h2>
<h2>{{ userDetails?.email }}</h2>
