nav {
  width: 100%;
  background-color: #393551; 
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: center; 
  box-shadow: 0 2px 6px rgba(21, 103, 210, 0.2);
}

.nav-list {
  list-style: none;
  display: flex;          
  flex-direction: row;    
  gap: 2rem;             
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;  
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.25rem 0;
  transition: color 0.3s, border-bottom 0.3s;
}


.nav-list li a:hover {
  color: #672cf3;
  border-bottom: 2px solid #5a24f0;
  border-radius: 2px;
}
