.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  text-decoration: none;
}

.nav-link ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text
}