.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  mar
}

.nav-link ul{
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}